body{
    background-color: brown;
}

input.radio{
    margin: 0 0 0 30px;
}

.left{
    background-color: lightgreen;
}

.right{
    background-color: green;
    color: white;
}

.fixed{
    position: fixed;
    margin-top: 10%;
}

.example{
    margin-bottom: 15px;
}